.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 10px;
}
.panda-button{
    background-image: linear-gradient(65deg, #ff1f77, #ff4d94);
    padding: 10px 40x;
    color: white;
    
}
.watch{
    background-color: #ffa500;
}
.bag{
    background-color: #da70d6;
}
.shoe{
    background-color: #0000ff;
}
.h5{
    color: lightgray;
}